.body {
   background: url("/assets/ASHR.jpg") center no-repeat;
   font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.bg-glass {
   backdrop-filter: blur(7px);
   background: rgba(183, 183, 183, 0.2);
}